SERVER_TYPE=http
SERVER_PORT=8080
SERVER_URL=https://SEU_DOMINIO_EVOLUTION
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://USUARIO_EVOLUTION:SENHA@HOST_INTERNO_POSTGRES_EVOLUTION:5432/evolution?sslmode=disable
DATABASE_CONNECTION_CLIENT_NAME=evolution
DATABASE_SAVE_DATA_INSTANCE=true
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://default:SENHA_REDIS@HOST_INTERNO_REDIS:6379/1
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_REDIS_SAVE_INSTANCES=false
AUTHENTICATION_API_KEY=SUBSTITUA_PELA_MESMA_CHAVE_DE_EVOLUTION_API_KEY
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=false
